@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-transparent dark:bg-slate-800;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply absolute rounded-full bg-transparent dark:bg-slate-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-emerald-500;
}

html {
    @apply overflow-x-hidden font-poppins text-sm font-normal leading-relaxed tracking-wide;
}

body {
    @apply text-slate-600 dark:text-slate-300;
}

h1 {
    @apply text-4xl leading-10;
}
h2 {
    @apply text-3xl leading-9;
}
h3 {
    @apply text-2xl leading-8;
}
h4 {
    @apply text-xl leading-7;
}
h5 {
    @apply text-lg leading-6;
}
h6 {
    @apply text-base leading-6;
}

thead th {
    @apply text-sm font-medium text-white/50;
}

/* Loading Screen */

.loading {
    @apply absolute top-0 left-[-5px] z-[99999] h-screen w-full overflow-hidden bg-white/30 backdrop-blur-lg;
}

.loading-content {
    @apply absolute inset-x-1/2 top-[40%] h-12 w-12 animate-spin rounded-full border-8 border-t-8 border-slate-300 border-t-emerald-500;
}
/* End Loading Screen */

#mydropdown {
    transform: translate(-125px, 15px) !important;
}

@media (max-width: 1024px) {
    #mydropdown {
        transform: translate(-65px, 15px) !important;
    }
}

.navbar-fixed {
    @apply bg-white shadow-lg transition-colors duration-500 ease-in-out dark:bg-slate-800;
}

.navbar-fixed .logo,
.navbar-fixed span,
.navbar-fixed ul > li > a,
.navbar-fixed button {
    @apply text-slate-800 transition-all duration-300 ease-in-out hover:text-emerald-500 dark:text-white;
}

.active {
    @apply text-emerald-500 !important;
}

.sidebar-items.active:before {
    @apply absolute -left-[28px] top-[12px] h-2 w-2 rounded-full bg-emerald-500 p-2;
    content: "";
}

.sidebar {
    @apply z-50 overflow-y-auto overflow-x-hidden;
}

.overlay {
    @apply fixed top-0 bottom-0 z-40 h-screen w-full overflow-y-hidden bg-slate-700/30 backdrop-blur-md;
}

.sidebar-items {
    @apply relative mt-5 flex items-center rounded-full p-2.5 px-4 text-slate-500 transition duration-300 hover:bg-gray-100 hover:text-emerald-600 focus:text-emerald-600 dark:text-slate-400 dark:hover:bg-slate-700/50 dark:hover:text-emerald-600;
}

.sidebar-items.active {
    @apply bg-gray-100 text-emerald-500 dark:bg-slate-700/50;
}

.sidebar-items.active a,
.sidebar-items.active span {
    @apply text-emerald-500;
}

.tabs.active {
    @apply border-b-2 border-emerald-500 font-bold text-emerald-500 !important;
}

.form-login {
    @apply mb-3 w-full rounded-full border-none bg-slate-200 p-2.5 px-5 transition duration-500 ease-out focus:ring-2 focus:ring-emerald-500 dark:bg-slate-800 dark:focus:bg-slate-700;
}

.form-control {
    @apply block w-full rounded-full border-none bg-gray-100 p-2.5 pl-5 text-slate-900 focus:bg-slate-200 focus:ring-2 focus:ring-emerald-400 dark:bg-slate-700 dark:text-white dark:placeholder-slate-400 dark:focus:ring-emerald-500;
}

.form-check {
    @apply h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600;
}

.form-check-label {
    @apply ml-4 text-sm font-medium text-gray-900 dark:text-gray-300;
}

.search-form {
    @apply block w-full rounded-full border-transparent bg-gray-100 p-2.5 pl-10 text-sm text-slate-900 ring-transparent transition duration-500 ease-out focus:border focus:border-emerald-500 focus:ring-transparent dark:bg-slate-700 dark:text-white dark:placeholder-slate-400;
}

.search-btn {
    @apply ml-2 rounded-full bg-emerald-500 p-3 text-sm font-medium text-white transition-all duration-300 ease-out hover:bg-emerald-600 focus:outline-none;
}

.mybtn {
    @apply mr-2 inline-flex items-center rounded-full bg-emerald-500 px-5 py-2.5 text-center text-sm font-semibold text-white transition-all duration-300 ease-out hover:bg-emerald-600 focus:outline-none dark:bg-slate-700 dark:hover:bg-emerald-500;
}

.badge-emerald {
    @apply mr-2 rounded bg-emerald-100 px-2.5 py-0.5 text-xs font-semibold text-emerald-800 dark:bg-emerald-200 dark:text-emerald-900;
}

.badge-blue {
    @apply mr-2 rounded bg-blue-100 px-2.5 py-0.5 text-xs font-semibold text-blue-800 dark:bg-blue-200 dark:text-blue-800;
}

.is-invalid {
    @apply ring-rose-500 !important;
}

.is-invalid.select2-container--default.select2-selection--multiple {
    @apply bg-red-100 !important;
}

.required::after {
    @apply absolute ml-2 mt-1 inline-flex h-[1px] w-[1px] rounded-full bg-emerald-500 p-1;
    content: "";
}

.sub {
    @apply invisible -my-[47px] opacity-0;
}

.sub2 {
    @apply invisible -mt-[30px] -mb-[145px] opacity-0;
}

.myShadow {
    @apply border-b border-slate-100 shadow-lg shadow-slate-300/10 dark:border-slate-900 dark:shadow-black/30;
}

.show {
    @apply bg-emerald-500 !important;
}
.show > i {
    @apply text-white !important;
}

.preview > img {
    @apply h-32 w-32 !important;
}

.head,
.drop {
    @apply transition-all duration-300 ease-out;
}

.setting-items {
    @apply mt-5 flex items-center space-x-20 sm:space-x-10;
}

.theme-active {
    @apply border-4 border-dashed border-emerald-500;
}

/* Blog */

.nav-item {
    @apply block border-b border-gray-100 py-2 pr-4 pl-3 text-white hover:bg-gray-50 dark:border-slate-700 dark:hover:bg-gray-700 dark:hover:text-white md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-emerald-500 md:dark:hover:bg-transparent;
}

.nav-dropdown {
    @apply flex w-full items-center justify-between border-b border-slate-100 py-2 pr-4 pl-3 font-medium text-white hover:bg-slate-50 dark:border-slate-700 dark:hover:bg-slate-700 dark:hover:text-white dark:focus:text-white md:w-auto md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-emerald-500 md:dark:hover:bg-transparent;
}

.nav-dropdown-item {
    @apply block py-2 px-4 text-base hover:bg-slate-100 dark:hover:bg-slate-600 dark:hover:text-white;
}

/* End Blog */

/** Select2 **/

.select2-container--default .select2-selection--single,
.select2-container--default.select2-container--focus
    .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    @apply rounded-3xl border-none bg-slate-100 dark:bg-slate-700 !important;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    @apply min-h-[45px] !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered,
.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    @apply leading-[45px] !important;
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-selection--multiple .select2-selection__rendered {
    @apply pl-5 !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow,
.select2-container--default
    .select2-selection--multiple
    .select2-selection__arrow {
    @apply right-[15px] h-[45px] !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__clear,
.select2-container--default
    .select2-selection--multiple
    .select2-selection__clear {
    @apply mr-5 !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered,
.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    @apply text-slate-700 dark:text-slate-300 !important;
}

/* Multiple */
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    @apply m-0 rounded-none border-none bg-transparent !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__clear {
    @apply mt-0 !important;
}

/** Select 2 Dropdown **/

.select2-container--open .select2-dropdown--below {
    @apply rounded-xl !important;
}

.select2-container--open .select2-dropdown {
    @apply top-3 !important;
}

.select2-dropdown {
    @apply border-none bg-slate-300 text-slate-700 dark:bg-slate-700 dark:text-slate-300 !important;
}

.select2-search--dropdown {
    @apply p-[15px] !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    @apply rounded-xl border-none dark:bg-slate-600 !important;
}

.select2-search--dropdown .select2-search__field {
    @apply px-5 !important;
    margin: 5px 0 5px 0 !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    @apply bg-emerald-500 text-white !important;
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    @apply bg-slate-200 text-slate-700 first:rounded-t-xl last:rounded-b-xl dark:bg-slate-800/50 dark:text-white !important;
}

/* End Select2 */

/* Sweet Alert */

.swal2-popup {
    @apply rounded-3xl dark:bg-slate-700 dark:text-slate-300 !important;
}

.swal2-icon.swal2-warning {
    @apply border-rose-500 text-rose-500 !important;
}

.swal2-styled.swal2-confirm {
    @apply bg-emerald-500 !important;
}

.swal2-styled.swal2-cancel {
    @apply bg-slate-300 dark:bg-slate-500 !important;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
    @apply rounded-full !important;
}

/* EndSweet Alert */

/* Slider */

.hide {
    @apply hidden;
}

.show {
    @apply block;
}

/* Slideshow container */
.slideshow-container {
    @apply relative m-auto max-w-[1000px];
}

/* Next & previous buttons */
.prev,
.next {
    @apply absolute top-1/2 mt-[-22px] w-auto cursor-pointer select-none rounded-full p-4 text-lg font-bold text-emerald-500 transition ease-out;
}

/* Position the "next button" to the right */
.next {
    @apply right-0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    @apply bg-red-500;
}

/* Caption text */
.text {
    @apply absolute bottom-2 py-2 px-3 text-sm text-blue-500;
}

/* Number text (1/3 etc) */
.numbertext {
    @apply absolute top-0 py-2 px-3 text-xs text-red-500;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

/* End Slider */
