@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-transparent dark:bg-slate-800;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-full bg-transparent dark:bg-slate-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-green-500;
}

html {
    @apply font-medium text-slate-700;
}

h1 {
    @apply text-4xl leading-10;
}
h2 {
    @apply text-3xl leading-9;
}
h3 {
    @apply text-2xl leading-8;
}
h4 {
    @apply text-xl leading-7;
}
h5 {
    @apply text-lg leading-6;
}
h6 {
    @apply text-base leading-6;
}

#mydropdown {
    transform: translate(-125px, 15px) !important;
}

@media (max-width: 1024px) {
    #mydropdown {
    transform: translate(-65px, 15px) !important;
}
}

.navbar-fixed {
    @apply bg-white shadow-xl transition-colors duration-500 ease-in-out;
}

.navbar-fixed a span,
.navbar-fixed ul li a {
    @apply text-slate-800 transition-all duration-300 ease-in-out hover:text-green-500;
}

.active{
    @apply text-green-500 font-bold !important;
}

.sidebar-items.active:before{
    @apply w-2 h-2 p-2 bg-green-500 absolute -left-[28px] top-[12px] rounded-full;
    content: '';
}

.sidebar {
    @apply z-50;
}

.sidebar-items {
    @apply relative mt-3 flex items-center rounded-full p-2.5 px-4 text-slate-600 duration-300 hover:text-green-600 focus:text-green-600 dark:text-slate-400;
}

.sidebar-items.active {
    @apply text-green-500 bg-gray-100 dark:bg-slate-700/50;
}

.sidebar-items.active a {
    @apply font-bold text-green-500;
}

.tabs.active{
    @apply text-green-500 font-bold border-b-2 border-green-500 !important;
}

.form-login {
    @apply mb-3 w-full rounded-full border-none bg-slate-200 p-2.5 px-5 transition-all duration-500 ease-out focus:ring-2 focus:ring-green-500;
}

.form-control {
    @apply block w-full rounded-full border-transparent bg-slate-200 p-2.5 pl-5 text-slate-900 focus:border-green-400 focus:ring-transparent dark:bg-slate-700 dark:text-white dark:placeholder-slate-400 dark:focus:border-green-500 dark:focus:ring-green-500;
}

.form-check {
    @apply w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
}

.form-check-label{
    @apply ml-4 text-sm font-medium text-gray-900 dark:text-gray-300;
}

.search-form {
    @apply block w-full rounded-full border-transparent ring-transparent focus:ring-transparent bg-slate-200 p-2.5 pl-10 text-sm text-slate-900 transition duration-500 ease-out focus:border-2 focus:border-green-500 dark:bg-slate-700 dark:text-white dark:placeholder-slate-400;
}

.search-btn {
    @apply ml-2 rounded-full bg-green-500 p-3 text-sm font-medium text-white transition-all duration-300 ease-out hover:bg-green-600 focus:outline-none;
}

.mybtn {
    @apply mr-2 inline-flex items-center rounded-full bg-green-500 px-5 py-2.5 text-center text-sm font-medium text-white transition-all duration-300 ease-out hover:bg-green-600 focus:outline-none;
}

.badge-green {
    @apply bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900;
}

.badge-blue {
    @apply bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800;
}

.is-invalid {
    @apply bg-red-100 !important;
}

.is-invalid.select2-container--default.select2-selection--multiple {
    @apply bg-red-100 !important;
}

.required::after {
    @apply w-[1px] h-[1px] p-1 inline-flex absolute ml-2 mt-1 rounded-full bg-green-500;
    content: "";
}

.sub {
    @apply invisible opacity-0 -my-[56px];
}

.myShadow {
    @apply shadow-xl shadow-slate-200 ;
}

/** Select2 **/

.select2-container--default .select2-selection--single {
    @apply rounded-full border-none bg-slate-100 !important;
}

.select2-container .select2-selection--single {
    @apply h-[45px] !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    @apply leading-[45px] !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    @apply pl-5 !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    @apply right-[15px] h-[45px] !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__clear {
    @apply mr-5 !important;
}

/** Select 2 Dropdown **/

.select2-container--open .select2-dropdown--below {
    @apply rounded-xl !important;
}

.select2-container--open .select2-dropdown {
    @apply top-3 !important;
}

.select2-dropdown {
    @apply border-none bg-slate-300 !important;
}

.select2-search--dropdown {
    @apply p-[15px] !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    @apply border-transparent !important;
}

.select2-search--dropdown .select2-search__field {
    @apply px-5 !important;
    margin: 5px 0 5px 0 !important;
}

/* End Select2 */

textarea,
select {
    @apply rounded-full bg-slate-100;
}